[MASTER]
ignore-patterns=test_.*?py,
                scsp.py,
                constraintnetwork.py,
ignore= tests
init-hook="from pylint.config import find_pylintrc; import os, sys; sys.path.append(os.path.dirname(find_pylintrc())+'/src')"
disable=bad-continuation, 
        missing-module-docstring,
        fixme
good-names=st,cn,A,CS,GBT,BT,BJ,CBJ,GTB,ConflictSet,v,i,j,n,k,x,y,h,f,r,c,_

[SIMILARITIES]
ignore-imports=yes